<html>
    <head>
        <title>Hello friends</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog Django Girls</a></h1>
        </div>

        <div>
            <h2><a href="">Since U Been Gone</a></h2>
            <strong>Kelly Clarkson</strong>
            <p>But since you been gone</p>
            <p>can breathe for the first time</p>
            <p>I'm so moving on, yeah, yeah</p>
            <p>Thanks to you, now I get what I want</p>
            <p>Since you been gone</p>
            <p>publicado: 19.09.2024</p>
        </div>

        <div>
            <h2><a href="">Call me maybe</a></h2>
            <strong>Carly Rae Jepsen</strong>
            <p>Hey, I just met you</p>
            <p>And this is crazy</p>
            <p>But here's my number</p>
            <p>So call me, maybe</p>
            <br>
            <p>It's hard to look right</p>
            <p>At you, baby</p>
            <p>But here's my number</p>
            <p>So call me, maybe</p>
            <p>publicado: 19.09.2024</p>
        {% for post in posts %}
            <div>
                <h2><a href=""> {{ post.title }}</a></h2>
                <strong>{{ post.author }}</strong>
                <p>{{ post.text | linebreaksbr }}</p>
                <p>published: {{ post.published_date }}</p>
            </div>
        {% endfor %}
    </body>
</html>
